:root{
    --fade-time: 0.5s;
    --scale-factor: 1.05;
    --opacity-change: 0.3;
}

.cardimg{
    position: absolute;
    -webkit-transition: all var(--fade-time) ease-in-out;
    -moz-transition: all var(--fade-time) ease-in-out;
    -ms-transition: all var(--fade-time) ease-in-out;
    -o-transition: all var(--fade-time) ease-in-out;
    transition: all var(--fade-time) ease-in-out;
}

.card:hover .cardimg{
    opacity: var(--opacity-change);
    -webkit-transform:scale(var(--scale-factor));
    -moz-transform:scale(var(--scale-factor));
    -ms-transform:scale(var(--scale-factor));
    -o-transform:scale(var(--scale-factor));
    transform:scale(var(--scale-factor));
}
  
.card:hover .cardimg{
    -webkit-transition: all var(--fade-time) ease-in-out;
    -moz-transition: all var(--fade-time) ease-in-out;
    -ms-transition: all var(--fade-time) ease-in-out;
    -o-transition: all var(--fade-time) ease-in-out;
    transition: all var(--fade-time) ease-in-out;
}

.cardtxt{
    text-align: center;
}

.cardtxtwrap{
    opacity: 0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all var(--fade-time) ease-in-out;
    -moz-transition: all var(--fade-time) ease-in-out;
    -ms-transition: all var(--fade-time) ease-in-out;
    -o-transition: all var(--fade-time) ease-in-out;
    transition: all var(--fade-time) ease-in-out;
}

.card:hover .cardtxtwrap{
    opacity: 1;
}
  
.card:hover .cardtxtwrap{
    -webkit-transition: all var(--fade-time) ease-in-out;
    -moz-transition: all var(--fade-time) ease-in-out;
    -ms-transition: all var(--fade-time) ease-in-out;
    -o-transition: all var(--fade-time) ease-in-out;
    transition: all var(--fade-time) ease-in-out;
}